.DS_Store
/conll2010/presentation/negative.data
/conll2010/presentation/positive.data
/conll2010/presentation/w1.data
/conll2010/presentation/w2.data
/conll2010/presentation/allnegative.data
/conll2010/presentation/allpositive.data
/conll2010/presentation/clarke-etal-conll2010-talk.aux
/conll2010/presentation/clarke-etal-conll2010-talk.log
/conll2010/presentation/clarke-etal-conll2010-talk.nav
/conll2010/presentation/clarke-etal-conll2010-talk.out
/conll2010/presentation/clarke-etal-conll2010-talk.pdf
/conll2010/presentation/clarke-etal-conll2010-talk.snm
/conll2010/presentation/clarke-etal-conll2010-talk.toc
